.error{
    margin: 8rem 4rem;

    h1{
        color: red;
        text-align: center;
        font-size: 3rem;
    }

    p{
        margin: 3rem 0;
        color: white;
        text-align: center;
        line-height: 1.3rem;
        font-weight: 300;
    }
}