.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    &.scrolled {
        background-color: var(--color1);
        border-bottom: 1px solid white;
    }
}

.navbar__container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 4rem;

    .logo{
        font-size: 24px;
        font-weight: 800;
    }

    input{
        padding: 0.5rem 0;
        padding-right: 3rem;
        padding-left: 1rem;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 1rem;
        color: white;
    }

    input::placeholder{
        color: white;
    }

        button{
            padding: 0.5rem 2rem;
            border: none;
            // border: 1px solid white;
            border-radius: 1rem;
            background: transparent;
            color: white;
            cursor: pointer;
        }

        button:hover{
            background: var(--color2);
            color: var(--color3);
        }
}

@media screen and (max-width: 768px) {
    .navbar__container{

        button{
            padding: 0.5rem 1rem;
        }

        input{
            padding: 0.4rem 0;
            padding-right: 3rem;
            padding-left: 1rem;
        }

    }
}

@media screen and (max-width: 685px) {
    .navbar__container{
        input{
            padding: 0.3rem 0;
            padding-right: 0;
            padding-left: 0.7rem;
        }
    }
}

@media screen and (max-width: 635px) {
    .navbar__container{
        margin: 1rem 3rem;

        .logo{
            display: none;
        }
        
        input::placeholder{
            font-size: 12px;
        }
    
        .info button{
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 444px) {
    .navbar__container{
        margin: 1rem 3rem;

        input{
            padding: 0.3rem 0;
            width: 130px;
            padding-left: 0.7rem;
        }
    }
}